{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'blog_app/node_modules/bootstrap/dist/css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'blog_app/node_modules/font-awesome/css/font-awesome.css' %}" />
    <link rel="stylesheet" type="text/css" href="
    {% static 'blog_app/css/style.css' %}" />
    <title>{% block title %}Hello to my blog{% endblock %}</title>
</head>

<body>

<div class="container">
    <div class="row">
        <div class="col-md-11">
            <div id="content">
                {% block content %}{% endblock %}
            </div>
        </div>
        <div class="col-md-1">
            <div id="sidebar" style="position: fixed">
                {% block sidebar %}
                    <div class="list-group">
                        <a href="{% url 'blog_app:notes_index' %}"
                           class="list-group-item" id="menu-main">
                            Notes
                        </a>
                        <a href="/about" class="list-group-item"
                           id="menu-about">About me</a>
                        <a href="/projects" class="list-group-item"
                           id="menu-about">Projects</a>
                        <a href="/resume" class="list-group-item"
                           id="menu-resume">Resume</a>
                    </div>
                    <script>
                        window.onload = function () {
                            var element = '{% block menu-item %}main{% endblock %}';
                            document.getElementById('menu-' + element).classList.add('active');
                        };
                    </script>
                {% endblock %}
            </div>
        </div>
    </div>
</div>

</body>
</html>