{% extends "blog_app/base.html" %}

{% block content %}
    {% for note in notes %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="{% url 'blog_app:note_details' note.url %}">
                    <span class="panel-title">
                        {{ note.title }}
                    </span>
                </a>
            </div>
            <div class="panel-body">
                {{ note.body }}
            </div>
            <div class="panel-footer">
                {{ note.pub_date | date:"Y.m.d H:i:s" }}
                <span class="pull-right">
                    {% for tag in note.tags.all %}
                        <a href="{{ tag.slug }}">{{ tag.name }}</a>
                    {% endfor %}
                </span>
            </div>
        </div>
    {% endfor %}
{% endblock %}