{% extends "blog_app/base.html" %}

{% block content %}
    {% if tag %}
        <h2>
            Tag: {{ tag.name }}
        </h2>
    {% endif %}
    {% for note in notes %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="{% url 'blog_app:note_details' note.url %}">
                    <span class="panel-title">
                        {{ note.title }}
                    </span>
                </a>
            </div>
            <div class="panel-body">
                {{ note.body_html | safe }}
            </div>
            <div class="panel-footer">
                {{ note.pub_date | date:"Y.m.d H:i:s" }}
                <span class="pull-right">
                    {% for tag in note.tags.all %}
                        <a href={% url 'blog_app:tag_notes' tag.slug %}
                        >{{ tag.name }}</a>
                    {% endfor %}
                </span>
            </div>
        </div>
    {% endfor %}
{% endblock %}