<!doctype html>
<html>
<head>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/font-awesome.css') }}">
    <title>{% block title %}Welcome to my blog{% endblock %}</title>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-10">
            <div id="content">{% block content %}{% endblock %}</div>
        </div>
        <div class="col-md-2">
            Navigation
        </div>
    </div>
</div>


<div id="footer">
    {% block footer %}
        &copy; Copyright 2015 by <a href="http://domain.invalid/">you</a>.
        <a href="{{ url_for('about') }}">About</a>
    {% endblock %}
</div>

<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
</body>
</html>